.add-group-container {
    position: absolute;
    top: 10vh;
    left: 1vw;
    height: 10vh;
    width: 5.15vw;
    z-index: 2;
}

.group-menu-button {
    height: 10vh;
    width: 5.15vw;
    background-image: url(./people.png);
    background-size: 50px 50px;
    background-position: 11.5px 4.5px;
    background-repeat: no-repeat;
    background-color: #BCCEF8;
    border: none;
    border-radius: 10px;
}