.add-event-container {
    position: absolute;
    top: 25vh;
    left: 1vw;
    height: 10vh;
    width: 5.15vw;
    z-index: 2;
}

.event-menu-button {
    height: 10vh;
    width: 5.15vw;
    background-color: #FFDDD2;
    background-image: url('./event.png');
    background-size: 50px 50px;
    background-position: 11.5px 4.5px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 10px;
}