

.login-background {
    background-image: url(./image/login-background.PNG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.login-title {
    position: absolute;
    top: 20vh;
    left: 35vw;
    font-weight: 1000;
    font-family: consolas;
    font-size: 3vw;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.login-button {
    height: 10vh;
    width: 35vw;
    font-family: consolas;
    font-size: 2vw;             
    position: relative;
    top: 10vh;
    right: 51%;
    border-radius: 30px;
    border-color: white;
}