.remove-event-container {
    position: absolute;
    top: 40vh;
    left: 1vw;
    height: 10vh;
    width: 5.15vw;
    z-index: 5;
}

.remove-event-menu-button {
    height: 10vh;
    width: 5.15vw;
    background-image: url(./cancel.png);
    background-size: 50px 50px;
    background-position: 11.5px 4.5px;
    background-repeat: no-repeat;
    background-color: #E97777;
    border: none;
    border-radius: 10px;
}