.add-event-loading-screen-container {
    height: 80vh;
    width: 60vw;
    font-size: 2.5vw;
    font-family: consolas;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}